<div class="dashboard">
  <section>
    <p class="section-title">Analytics</p>
    <div class="analytics">
      @for (data of analyticsList(); track $index) {
        <app-analytics-card [data]="data"></app-analytics-card>
      }
    </div>
  </section>

  <section class="charts">
    <div class="chart-card line">
      <p class="chart-label">Report</p>
      <app-line-chart />
    </div>
    <div class="chart-card bar">
      <p class="chart-label">Visits</p>
      <app-bar-chart />
    </div>
  </section>

  <section>
    <div class="section-header">
      <p class="section-title">Recent Orders</p>
      <span class="orders-page" routerLink="/orders">Go to Orders Page <i class="fa-solid fa-arrow-right-long"></i></span>
    </div>
    <app-orders-table />
  </section>
</div>
