.dashboard {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.section {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 20px 0;
}

.section-title {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.analytics {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

@media (max-width: 610px) {
  .analytics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.chart-label {
  margin: 0 0 10px 0;
  font-size: larger;
  font-weight: 800;
}

.charts {
  display: grid;
  grid-template-columns: auto auto; /* each chart only takes its own width */
  gap: 20px;
  width: 100%; /* grid container still full width */
  justify-content: start; /* align charts to the left, leaving remaining space empty */
}

@media (max-width: 810px) {
  .charts {
    grid-template-columns: 1fr; /* stack vertically */
    justify-items: center;      /* center the charts */
  }
}

.chart-card {
  background: #fff;
  padding: 20px;
  border-radius: 14px;
  width: clamp(260px, 90%, 500px);      /* responsive width */
  height: clamp(200px, 35vw, 340px);    /* responsive height */
  display: flex;
  flex-direction: column;
}

.chart-card.line {
  width: clamp(300px, 50%, 550px);
}

.chart-card.bar {
  width: clamp(220px, 40%, 350px);
}


.chart-card app-line-chart,
.chart-card app-bar-chart,
.chart-card canvas {
  flex: 1;
  width: 100% !important;
  height: 100% !important;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orders-page {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 5px;
  font-size: 12px;
  color: #ACB7BD;
}

@media (max-width: 400px) {
  .chart-card {
    width: clamp(180px, 85%, 260px);
    height: clamp(150px, 30vw, 220px);
  }

  .chart-card.line {
    width: clamp(200px, 90%, 280px);
  }

  .chart-card.bar {
    width: clamp(160px, 80%, 220px);
  }
}
