.layout {
  display: flex;
  height: 100vh;
  background: #f9fafb;
}


.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content {
  flex: 1;
  padding: 0px 24px;
  overflow-y: auto;
}
