.header {
  height: 70px;
  background: #ffffff;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .input-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
    gap: 8px;
    width: 520px;
    height: 35px;
    border: 0px;
    border-radius: 8px;
    padding: 6px 12px;
    background-color: #F8FAFB;
  }

  .fa-magnifying-glass{
    font-size: 14px;
  }

  input {
    width: 100%;
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 6px;
    background-color: #F8FAFB;
  }

  input:focus {
    outline: none;
  }

  ::placeholder {
    color: #C1CACE;
    opacity: 1;
    font-family: 'Renner*', sans-serif;
    font-size: 14px;
  }
  ::-ms-input-placeholder { /* Edge 12 -18 */
    color: #C1CACE;
    font-family: 'Renner*', sans-serif;
  }

  .icon-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .icon-box {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: #E7EDF0;
    border-radius: 10px;
  }

  .clickable {
    &:hover {
      background-color: #D0D9DE;
      cursor: pointer;
    }
  }

  .user {
    font-weight: 600;
    &:hover {
      cursor: pointer;
    }
  }

  .fa-chevron-down{
    font-size: 10px;
    margin-left: 5px;
  }
}
