.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 25px;
  background-color: #fff;
  border-radius: 17px;
  width: 240px;
  height: 90px;
  margin: 20px;
}

.card-icon {
  width: 55px;
  height: 55px;
  margin-right: 15px;
}

p, span {
  margin: 0px;
}

.card-title {
  font-size: 14px;
  color: #93A3AB;
}

.card-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card-value {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  margin-right: 10px;
}

.card-trends {
  padding: 2px 7px;
  font-size: 10px;
  font-weight: bold;
  border-radius: 12px;
}

.card-trends.positive {
  color: #65C565;
  background-color: #E3F4E3;
}

.card-trends.negative {
  color: #C56565;
  background-color: #F4E3E3;
}
