.dashboard {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.section {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 20px 0px;
}

.section-title {
  font-size: 16px;
  font-weight: 600;
  margin: 0px;
}

.analytics {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.charts {
  display: flex;
  flex-direction: row;
}

.graph-card {
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 17px;
}

.line {
  width: 60%;
}

.bar {
  width: 40%;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orders-page {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 5px;
  font-size: 12px;
  color: #ACB7BD;
}
