.page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px !important;
}

i{
  font-size: 200px;
}

.title{
  font-size: 2rem;
  font-weight: 700;
  margin: 0px;
  margin-top: 20px;
}

.home-btn{
  margin-top: 30px;
  border: none;
  border-radius: 20px;
  padding: 10px 90px;
  background-color: rgb(33, 71, 177);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.home-btn:hover{
  background-color: rgb(17, 45, 122);
}

  @media (max-width: 450px) {
    i{
      font-size: 150px;
    }
    .title{
      font-size: 1.5rem;
    }
    .home-btn{
      margin-top: 30px;
      border: none;
      border-radius: 20px;
      padding: 7px 60px;
      font-size: 0.7rem;
    }
  }
