.orders-table {
  padding: 20px;
  background-color: #fff;
  border-radius: 17px;
  margin-top: 20px;
  width: 100%;

  /* Add horizontal scrolling for small screens */
  @media (max-width: 700px) {
    padding: 10px;
    overflow-x: auto;  /* enable horizontal scroll */
  }

  table {
    border-collapse: collapse;
    width: 100%;
    min-width: 600px; /* ensure table doesn't shrink too much */
  }

  th, td {
    padding: 12px;
    text-align: left;
  }

  th {
    background-color: #F7F9FA;
    color: #A6A9AA;
    font-size: 13px;
    font-weight: bold;
  }

  td {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
  }

  .date-entity {
    color: #A7AEB1;
    font-size: 14px;
    font-weight: 400;
  }

  .name-entity {
    display: flex;
    align-items: center;
  }

  tr:hover {
    background-color: #F7F9FA;
  }
}

.order-name {
  align-items: center;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px;
  @media (max-width: 700px) {
    width: 100px;
  }
  @media (max-width: 500px) {
    width: 80px;
  }
}

.status {
  font-size: 10px;
  font-weight: bold;
  padding: 4px 20px;
  border-radius: 5px;
}

.green-status {
  color: #78C278;
  background-color: #E6FDE6;
}

.red-status {
  color: #F44336;
  background-color: #FDE6E6;
}

.yellow-status {
  color: #FAA86D;
  background-color: #FFF4DF;
}

.blue-status {
  color: #0561FC;
  background-color: #DFF0FF;
}

/* Responsive tweaks for very small screens */
@media (max-width: 700px) {
  .orders-table {
    th, td {
      padding: 10px;
    }

    th {
      font-size: 10px;
    }

    td {
      font-size: 10px;
    }

    .date-entity {
      font-size: 10px;
    }

    table {
      min-width: 500px; /* or whatever fits your columns */
    }
  }

  .status {
    font-size: 10px;
    padding: 4px 10px;
  }
}
